body {
  background: black !important;
}

@media screen and (min-width:700px) {
  header {
      display: none !important;
  }
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("Header-Homepage-Louisville-KY-Skyline_1.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-repeat: no-repeat;
}

.card-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("developer-coding-in-php.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-card-2 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.profile-card-2 .background-block .background {
width:100%;
vertical-align: top;
opacity: 0.9;
}

.profile-card-2 .profile {
border-radius: 50%;
position: absolute;
bottom: 50%;
left: 50%;
max-width: 150px;
opacity: 1;
box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transform: translate(-50%, 0%);
transform: translate(-50%, 0%);
z-index:99999;
}

/* CSS for Social Media Icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
  font-size: 40px;
  margin: 10px;
  padding-top: 10px;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook i,
.social-network a.icoLinkedin i,
.social-network a.icoTwitter i,
.social-network a.icoInstagram i,
.social-network a.icoGithub i {
  color: white;
}

.social-network a.icoFacebook:hover i {
  color: #3b5998;
}

.social-network a.icoTwitter:hover i {
  color: #1DA1F2;
}

.social-network a.icoLinkedin:hover i {
  color: #007bb7;
}

.social-network a.icoInstagram:hover i {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
}

.social-network a.icoGithub:hover i {
  color: #6cc644;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle i {
  color: #595959;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}


/* CSS for Footer */

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("whiskey-row-exterior_1024xx3600-2038-0-423.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  padding: 10px;
}


/* CSS for To The Top button */
#topBtn {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#topBtn::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#topBtn:hover {
  cursor: pointer;
  background-color: #333;
}
#topBtn:active {
  background-color: #555;
}
#topBtn.show {
  opacity: 1;
  visibility: visible;
}

